h3 {
    font-size: 22px;
    line-height: 2;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 2;
}

li {
    margin-bottom: 10px;
}

body{
    background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #3E065F;
}

h6{
    margin-top: 7px;
}

.text-div {
    margin: 15px;

}

.container-lg {
    padding: 0;
}

section{
    margin-top: 2rem;
}

.content {
    margin: 40px 40px 0 40px;

}

.syllabus {
    font-size: 12px;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home {
    background: white;
    /*padding: 50px 20px;*/
}

.people-container {
    text-align: center;
    width: 80%;
}

.person-picture{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.person-text{
    line-height: 1 !important;
}

a{
    color: #3E065F;
}

a:hover{
    /*line-height: 1.5;*/
    color: #9D84B7;
}

.publication-list {
    width: 85%;
}

#contact {
    text-align: center;
    padding-bottom: 1rem;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 20px !important;
}

@media (max-width: 1199.98px) {

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media (max-width: 480px) {

    p {
        font-size: 14px;
        line-height: 1.5;
    }

    li {
        font-size: 14px;
    }

    .content {
        margin: 15px 15px 0 15px;

    }

    h1 {
        text-align: center;
        font-size: calc(1rem + 1vw);
    }

    h3{
        font-size: 18px;
    }

    .contact {
        font-size: 12px;
    }

    .intro {
        text-justify: inter-character;
    }

    .people-container {
        width: 100%;
    }

}