html {
    overflow-y: scroll;
}

body {
    font-family: Georgia,"Bitstream Charter",serif;
    background-color: #fcfcfc;
    background-image: url(images/bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    height: 100%;
}

.page {
    margin: 0 auto;
    width : 700px;
    padding-bottom : 80px;
}

.name{
    font-size: 30px;
    margin: 30px auto 20px;
    color: #000;
    text-align: center;
}

.pagecontent{
    text-align: left;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
}

#nav ul li {
    list-style: none;
} 
#nav {
    width: 100%;
    height: 35px;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #2f2f2f;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
    border-radius: 10px;
    background-image: linear-gradient(0deg, #333, #000);
    text-shadow: 0 1px 1px #000;
}

#nav li {
    float: left;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #f2f2f2;
    border-right: 1px solid #ccc;
}
#nav li a:hover {
    color: #c66;
}

h4, h3 {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
    

/* -- Home Page -- */

.brain {
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.homecontent {
	text-align: justify;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
	
}


/* -- People Page -- */

.people-list {
    padding: 0;
    margin: auto;
    width: 70%;
}

.people-list h3 {
    margin: 0;
}

.people-list>li {
    list-style: none;
}

.people-section-title {
    border-bottom: 1px solid #666;
}

.person-box {
    display: block;
    height: 125px;
    margin: 20px 0;
}

.person-box h4 {
    margin: 0;
}


.person-picture {
    border: 1px solid rgba(2, 26, 64, 0.7);
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    float: right;
    width: 160px;
    height: 120px;
    overflow: hidden;
}


/* -- Publications Page -- */

ul.publication-list>li {
    margin-bottom: 18px;
}