body {
    background: #e5e5e5;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 1.7em;
    line-height: 2;
}

p {
    font-size: 1.2em;
    line-height: 2;
}

li {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, a {
    color: #3E065F;
}

h6 {
    margin-top: 7px;
}

section {
    margin-top: 2rem;
}

.content {
    margin: 40px 40px 0 40px;
}

.text-div {
    margin: 15px;
}

.container-lg {
    padding: 0;
}

.syllabus {
    font-size: 12px;
}

.card-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.home {
    background: white;
}

.people-container {
    text-align: center;
    width: 80%;
}

.person-picture {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 50%;
}

.person-text {
    line-height: 1;
}

a:hover {
    color: #9D84B7;
}

.publication-list {
    width: 85%;
}

#contact {
    text-align: center;
    padding-bottom: 1rem;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 20px;
}

@media (max-width: 1199.98px) {
    .card-body {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    p, li {
        font-size: 14px;
    }

    p {
        line-height: 1.5;
    }

    .content {
        margin: 15px 15px 0 15px;
    }

    h1 {
        font-size: calc(1rem + 1vw);
    }

    h3 {
        font-size: 18px;
    }

    .contact {
        font-size: 12px;
    }

    .intro {
        text-justify: inter-character;
    }

    .people-container {
        width: 100%;
    }
}
